.navbar {
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 150px;
  border-right: 3px solid transparent ;
  border-image: linear-gradient(rgba(235, 33, 65, 0.15),#eb2141, #0b95dd, rgba(11, 149, 221, 0.16));
  border-image-slice: 1;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;


    .nav__item {
      width: max-content;
      text-decoration: none;
      font-size: 20px;
      color: #ddd;
      position: relative;
      margin-bottom: 20px;
      transition: all .2s;
      overflow: hidden;

      &:hover {
        color: #fff;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #eb2141;
        z-index: 99;
        transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
      }

      &:hover::before {
        left: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        left: 100%;
        width: 100%;
        height: 4px;
        background: #eb2141;
        transition: all .3s;
        transition-delay: .4s;
      }

      &:hover::after {
        left: 0;
      }
    }
  }
}