$screen-min-xs: 320px;
$screen-min-sm: 480px;
$screen-min-md: 640px;
$screen-min-lg: 768px;
$screen-min-xl: 1024px;
$screen-min-xxl: 1200px;

$screen-max-xs: 479px;
$screen-max-sm: 639px;
$screen-max-md: 767px;
$screen-max-lg: 1023px;
$screen-max-xl: 1199px;
$screen-max-xxl: 1529px;

$base-duration: 500ms;

$color-1: #2c3e50;
$color-2: #eb2141;
$color-3: #2ecc71;